$myColor: red;
$color1: red;
$color2: black;


.todo {
  background: black;
  color: #fff;
  padding: 10px;
}
.todo-completed {
  text-decoration: line-through;
  color: $myColor;
}

.todo:hover {
  background: brown;
}